*,html {
    margin: 0;
    padding: 0;
}

/* 12ta ustunga bo'linadi gridda */

main {
    display: grid;
    grid-template-columns: 20px repeat(10, minmax(100px, 1fr)) 20px;
    grid-template-areas: 
    "... ... ... ... ... ... ... ... ... ... ... ..."
    "... head head head head head head head head head head ..."
    "... side side side sec1 sec1 sec1 sec1 sec1 sec1 sec1..."
    "... side side side sec2 sec2 sec2 none sec3 sec3 sec3..."
    "... foot foot foot foot foot foot foot foot foot foot..."
    "... ... ... ... ... ... ... ... ... ... ... ..."
    ;
    gap: 10px;
}

header {
    grid-area: head;
    font-size: 35px;
    background-color: green;
    border: 2px solid black;

}

aside {
    grid-area: side;
    font-size: 35px;
    background-color: blue;
    border: 2px solid black;
}

.section1 {
    grid-area: sec1;
    padding: 100px;
    font-size: 35px;
    background-color: red;
    border: 2px solid black;
}

.section2 {
    grid-area: sec2;
    font-size: 35px;
    background-color: darkcyan;
    border: 2px solid black;
}

.section3 {
    font-size: 35px;
    background-color: yellow;
    border: 2px solid black;
    grid-area: sec3;
}

/* .section4 {
    font-size: 35px;
    background-color: blueviolet;
    border: 2px solid black;
} */


footer {
    font-size: 35px;
    background-color: orchid;
    border: 2px solid black;
    grid-area:foot;
}